* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    /* background-color: #121212; */
    background-color: #120A0A;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    height: 2950px;
}

.banner-image {
    background-image: linear-gradient(to Right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Netflix_Banner.jpg);
    width: auto;
    height: 720px;

}

.headersection {

    display: flex;
    height: 15%;
}

.headersection .logo {

    margin-left: 100px;
}

.headersection .nav-items {

    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    align-items: center;
}

.nav-items .languageselect {
    margin-right: 30px;
    color: white;
}
.languageselect i{
    position: absolute;
    left: 74%;
    top: 5.6%;
}
.languageselect select {
    padding: 7px;
    margin-left: 10px;
    border-radius: 40px;
    background: transparent;
    color: white;
    width: 110px;
    text-align: center;
}

.nav-items .signinbutton {
    margin-right: 200px;
}

.signinbutton button {
    padding: 10px;
    border-radius: 40px;
    background-color: red;
    color: white;
    border: none;
}

input::placeholder {
    color: white;
}

/* MAIN SECTION START HERE */

.main-content {
    color: white;
    /* border: 4px solid red; */
    height: 85%;
    text-align: center;
    font-size: 250%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.main-content input {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;

}

.main-content button {
    background-color: red;
    border: none;
    width: 8%;
    height: 38px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

/* .clip{
    clip-path: ellipse(53% 3% at 51% 100%);
    background-color: red;
    height: 200px;
    position: relative;
    top: -25%;
} */

/*  CSS for Carousel Section Starts here */

.carousel {
    display: flex;
    gap: 35px;
    overflow-x: auto;
    margin-left: 120px;
    margin-top: 55px;
    /* border: 2px solid red; */
    padding: 12.80px 16px 12.80px 28.60px;
    /* height: 300px; */
}

.image-container {
    position: relative;
    /* border: 3px solid blue; */
    transition: all 0.3s ease-in-out;
}
.image-container:hover{
    transform: scale(1.04);
}

.number {
    position: absolute;
    top: -5px;
    left: -25px;
    font-size: 5rem;
    font-weight: 800;
    color: black;
    text-shadow:
        -2px -2px 0 white,
         2px -2px 0 white,
        -2px  2px 0 white,
         2px  2px 0 white;
}


#img1{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABey3Kr5Lu3gHAKB2iC13MZEsJ0SZuHdPqCHL5cKK3c5EE-x4jslfgNqWRP_AKhSOlBVTYkAH9NwroMTNS3J--Ae6m9CBqWLNtTYYmoM48bdZNl27ePJoh072NJJsHedog5c4cBS-4iOrKFlsUfNb.jpg?r=95f);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img2{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABaWxNwb7fYpiMxmC_JTezjeSSEsH0ZxSUVHeZVFppBL-QGcELg_kW3Ucnb88tyTz9BqYmr4WN3xpxSvvO0km15ME3I8Xs2sW6MfHvWdeKZGBdRuo-caD8bz-Nrd1LfJPWEhZGqHGBNdWSWyweRPE.jpg?r=7a9);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img3{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABWtzFHcRKhAi4S5YzvxI4hBd9FtUbx2j4d4mVq66q29tATlvDBC5O-iELFNIrzNAqx6m8_U6rqudhOawG4EoblDd92ZOglULj-Mm-Ti4Kf07FwUm4s_JyPihArP2jOr3JEDEOhB6hPDNZF2vnnYGcHCKIn5U3A2ArcHRM811zQ.jpg?r=a41);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    padding: 10px;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img4{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABbjtJDMQUfpcIVd4ocN-vZsgtrJE4wC-gFan4w48IFrCEWQEaqxlEZhv_eGZ9aqju2wKaHrKFFiQF4kwrDdTSju_a6FeCbyU_-PPtDLlyersG33v_ft_zkN9QD6hlFnviklPt0frp3WqkXD5iYgw.jpg?r=82c);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img5{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABZNwhw_nqwt-Vk92R_99a-4uy2iPko4nAJArOgk5lHQit5bv4mYUYh87YjntjffldemLKJa5bm_kX-kT8O6Y36b2mZuVZNpvawkkcNRjZTwzLXoPRiatjgqSYQvebog-piqgUBs1TmXcLmN0-66i.jpg?r=521);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img6{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABdjgQbBTODX-q-qvw5fmNbxBCaOTpKm7Ealg8XpBKBjKdn-m28RBs3CbnbZXzgcqOUo57yXscCAbHnlMcoy3j96x_jiclDj7tSU0hxnmb9J21fie017GABHZgafL9uuFgehaNVBtN5MD1kPrCWn5.jpg?r=942);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img7{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABbZerTLGuqI9sWZMz2PsHK2xa8oSNrloraNe3PUjEz7N2OFLGUGNnJ2fF1fHzL2QmUpOQRVECUmMeu0C3Ys3JuSHN9SBQw0De0wr0V247rXyuHbQylN3JmjW6Ir814-04PfnHHU4NhqBCIJXiNlytMIrs20boNSHCJbDPo0qGrFe1K5aTlDkJ95KBkx0qCfvFAC8f66m6sMPN-ji.jpg?r=296);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img8{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABTJugvNbVWv74ytmSpojJyLcYEq6wAv-V9SYAB01Wxi92DjRYckIXfwIVY7RfNfvMwMaQd6UtjWK_vqoranT5cOrZL2Ex0Rb9uLVAsqBuwqKM4IU-UZxu_keJ1aphSOXxLLG2WiE8LJGSblQJf_E.jpg?r=0fd);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img9{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABVgg-VmKLHK5Q5A9xDr_1HbUYwPO_IRxcqMi1HQSaHzjO7tE9d4tvvxVN7PMrcSKFK088RCv2sQAAAZ92-2nZjWXgZNzvdHfAgE7yM154dGhpukCLRVX1XKl_50Fz83LqEFX74-_HCrTe_67Ap3i5Z8KWfF49C4DN1oBtLJZ5ECI3BUP6WmJ8Buz0ipQs9LW1K9EqY5HMqASacDK.jpg?r=153);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}
#img10{
    background-image: url(https://occ-0-6246-2186.1.nflxso.net/dnm/api/v6/-klpX4b1RECP-oGX3Uvz90PrgHE/AAAABUCRF9JkqcVu18cEqVW6xTJ90YoeiQE-WIrIuyD36upfbFjnkSJz79VYAwhLaT20jSNbZcDRamMmNFU7nEmOQ59N-x5MFvhQvttTOzrm2ld6vw-fbiJys7ve_htngLl9xeqNQIAVJ0YsO7n8iv_521pnd70YKvxNodq411nJW87ZeYRrjZJxZhGo7ArzVY1WSBtJg92aawWzFojD.jpg?r=127);
    height: 320px;
    width: 160px;
    flex: 0 0 auto;
    background-size: cover;
    border-radius: 1rem;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}


.carousel::-webkit-scrollbar {
    display: none;
}

/* CSS for reason to join section */

.reason_section {
    margin-left: 10%;
    color: white;
    /* border: 2px solid red; */
    margin-top: 7%;
}

.reason_to_join {
    /* border: 3px solid white; */
    height: 222.400px;
    width: 1236.800px;
    display: flex;
    justify-content: space-between;
}

.reason1 {
    /* border: 3px solid red; */
    height: 222.400px;
    width: 300px;
    border-radius: 22px;
    padding: 16px;
    background-color: #282626;
    position: relative;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}

.reason2 {
    /* border: 3px solid blue; */
    height: 222.400px;
    width: 300px;
    border-radius: 22px;
    padding: 16px;
    background-color: #282626;
    position: relative;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}

.reason3 {
    /* border: 3px solid green; */
    height: 222.400px;
    width: 300px;
    border-radius: 22px;
    padding: 16px;
    background-color: #282626;
    position: relative;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}

.reason4 {
    /* border: 3px solid yellow; */
    height: 222.400px;
    width: 300px;
    border-radius: 22px;
    padding: 16px;
    background-color: #282626;
    position: relative;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}

.reason1 svg {
    height: 52px;
    width: 52px;
    position: absolute;
    right: 15px;
    /* Distance from right edge */
    top: 70%;
    /* Vertically center */
}

.reason2 svg {
    height: 52px;
    width: 52px;
    position: absolute;
    right: 15px;
    /* Distance from right edge */
    top: 70%;
    /* Vertically center */
}

.reason3 svg {
    height: 52px;
    width: 52px;
    position: absolute;
    right: 15px;
    /* Distance from right edge */
    top: 70%;
    /* Vertically center */
}

.reason4 svg {
    height: 52px;
    width: 52px;
    position: absolute;
    right: 15px;
    /* Distance from right edge */
    top: 70%;
    /* Vertically center */
}

/* FAQs section CSS start here */

.Frequently_Asked_Questions {
    color: white;
    margin-top: 7%;
    /* width: 82%; */
}

.Frequently_Asked_Questions h1 {
    margin-left: 150px;
    margin-bottom: 15px;
}

.faq1,
.faq2,
.faq3,
.faq4,
.faq5,
.faq6 {
    background-color: #272727;
    width: 81%;
    margin: auto;
    padding: 24px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 8px;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}

.answer1,
.answer2,
.answer3,
.answer4,
.answer5,
.answer6 {
    display: none;
    margin-top: 16px;
    background-color: #272727;
    margin: auto;
    width: 81%;
    padding: 24px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 8px;
    box-shadow:
        0px 15px 25px rgba(0, 0, 0, 0.4),
        0px 6px 6px rgba(0, 0, 0, 0.3),
        0px 1px 1px rgba(255, 255, 255, 0.1) inset,
        0px -1px 2px rgba(0, 0, 0, 0.2) inset;
}


input[type="checkbox"]:checked~.answer1 {
    display: block;
}

input[type="checkbox"]:checked~.answer2 {
    display: block;
}

input[type="checkbox"]:checked~.answer3 {
    display: block;
}

input[type="checkbox"]:checked~.answer4 {
    display: block;
}

input[type="checkbox"]:checked~.answer5 {
    display: block;
}

input[type="checkbox"]:checked~.answer6 {
    display: block;
}

input[type="checkbox"] {
    display: none;
}

/* CSS for Footer Section Starts Here */

.above-footer{
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.email-input input{
    background: transparent;
    border: none;
    background-color: #474747;
    padding: 16px;
    width: 370px;
    height: 60px;
    font-size: 1rem;
    color: #C5C5C5;
    border-radius: 40px;
}
.get-started-button button{
    width: 222px;
    background-color: #E50914;
    border: none;
    padding: 16px;
    border-radius: 40px;
    color: white;
    font-size: 1.5rem;
    font-weight: 550;
}
.footer{
    color: white;margin-top: 4rem;
}
.link-part{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}
.link-part ul li {
    margin-bottom: 15px;
    list-style-type: none;
}
.link-part a {
    color: white;
}

.languageselectt{
    margin-top: 30px;
    margin-left: 90px;
    color: white;
}
.languageselectt i{
    position: relative;
    left: 3%;
    top: 5.6%;
    color: white;
}
.languageselectt select {
    padding: 7px;
    margin-left: 10px;
    border-radius: 40px;
    background: transparent;
    color: white;
    width: 120px;
    text-align: center;
    appearance: none;
    
}

.languageselectt span{
    position: relative;
    left: -5%;
    top: 2px;
}

.theend{
    color: white;
    margin-left: 130px;
    margin-top: 50px;
}